<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" defer src="/js/main.js"></script>
  <script type="text/javascript" defer src="/js/change_data_profile.js"></script>
  <script type="module" defer src="/js/add_item_and_change_count_basket.js"></script>
  <script type="module" defer src="/js/delete_item_in_basket.js"></script>
  <script type="module" defer src="/js/add_order.js"></script>
  <script type="module" defer src="/js/orderModal.js"></script>
  <script type="module" defer src="/js/delete_order.js"></script>
  <script type="module" defer src="/js/preview_photo_book.js"></script>
  <script type="module" defer src="/js/update_book.js"></script>
  <script type="module" defer src="/js/delete_book.js"></script>
  <script type="module" defer src="/js/new_book.js"></script>
  <script type="module" defer src="/js/change_status_order.js"></script>
  <script type="module" defer src="/js/togglePassword.js"></script>
  <title>
    Booxa - <%= locals.title %>
  </title>
</head>

<body>
  <%- include('../partials/header.ejs'); %>
    <%- body %>
      <%- include('../partials/footer.ejs'); %>
        <%- include('../partials/toast.ejs'); %>
          <%- include('../partials/list_modal_book.ejs'); %>
            <%- include('../partials/confirm_cancel_order.ejs'); %>
              <%- include('../partials/confirm_delete_book.ejs'); %>
                <%- include('../partials/confirm_change_status.ejs'); %>
</body>

</html>