<main>
  <section class="section-basket">
    <div class="container">
      <div class="basket-title">
        <p class="text-basket-title">Корзина</p>
      </div>
      <div class="basket-content">
        <div class="basket-list">
          <% if (items.length !==0) { %>
            <% items.forEach(item=> { %>
              <div class="basket-item" data-id="<%= item._id %>">
                <div class="basket-img">
                  <img src="<%= item.imageUrl %>" alt="">
                </div>
                <div class="basket-item-content">
                  <div class="block-basket-content">
                    <p class="text-basket-content">название: <%= item.title %>
                    </p>
                    <p class="text-basket-content">жанр: <%= item.genres %>
                    </p>
                    <p class="text-basket-content">автор: <%= item.author %>
                    </p>
                  </div>
                  <div class="basket-content-button-price">
                    <p class="text-basket-price">
                      <%= item.price %> BYN
                    </p>
                    <button type="button" class="button-basket-delete" data-id="<%= item._id %>"><img src="img/delete.svg" alt=""></button>
                  </div>
                </div>
              </div>
              <% }) %>
                <div class="basket-button-price">
                  <p class="text-basket">Общая стоимость: <span id="basket-total">0</span> BYN</p>
                  <a id="make-order" class="button-basket">
                    заказать
                  </a>
                </div>
        </div>
        <% } else { %>
          <p class="empty-basket">корзина пуста</p>
          <% } %>
      </div>
    </div>
  </section>
</main>