<script type="text/javascript" defer src="/js/search_params.js"></script>
<script type="text/javascript" defer src="/js/search_input.js"></script>
<main>
  <div class="container">
    <section class="section-search" id="block-content">
      <div class="block-search">
        <input type="text" placeholder="Поиск" id="search-field">
      </div>
      <div class="block-catalog" id="block">
        <p class="text underline">Каталог</p>
        <div class="catalog__buttons">
          <button type="button" class="button__catalog" id="button_genre">жанры</button>
          <button type="button" class="button__catalog" id="button_author">авторы</button>
          <button type="button" class="button__catalog" id="button_publishing">издательства</button>
          <button type="button" class="button__catalog" id="button_yearOfPublication">год издания</button>
          <button type="button" class="button__catalog" id="button_language">язык книги</button>
        </div>
        <div class="block-catalog-hidden" id="block-hidden-genre">
          <div class="radio-group">
            <% allGenres.forEach(genre=> { %>
              <label class="radio-wrapper">
                <input type="radio" name="genre" value="<%= genre %>" onclick="toggleRadio(this)">
                <span class="radio-mark"></span>
                <%= genre %>
              </label>
              <% }) %>
          </div>
        </div>
        <div class="block-catalog-hidden" id="block-hidden-author">
          <div class="radio-group">
            <% allAuthors.forEach(author=> { %>
              <label class="radio-wrapper">
                <input type="radio" name="author" value="<%= author %>" onclick="toggleRadio(this)">
                <span class="radio-mark"></span>
                <%= author %>
              </label>
              <% }) %>
          </div>
        </div>
        <div class="block-catalog-hidden" id="block-hidden-publishing">
          <div class="radio-group">
            <% allPublishingHouse.forEach(publishingHouse=> { %>
              <label class="radio-wrapper">
                <input type="radio" name="publishingHouse" value="<%= publishingHouse %>" onclick="toggleRadio(this)">
                <span class="radio-mark"></span>
                <%= publishingHouse %>
              </label>
              <% }) %>
          </div>
        </div>
        <div class="block-catalog-hidden" id="block-hidden-yearOfPublication">
          <div class="radio-group">
            <% allYearOfPublication.forEach(year=> { %>
              <label class="radio-wrapper">
                <input type="radio" name="year" value="<%= year %>" onclick="toggleRadio(this)">
                <span class="radio-mark"></span>
                <%= year %>
              </label>
              <% }) %>
          </div>
        </div>
        <div class="block-catalog-hidden" id="block-hidden-language">
          <div class="radio-group">
            <% allLanguages.forEach(language=> { %>
              <label class="radio-wrapper">
                <input type="radio" name="language" value="<%= language %>" onclick="toggleRadio(this)">
                <span class="radio-mark"></span>
                <%= language %>
              </label>
              <% }) %>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="section-popular-books">
    <div class="container">
      <div class="pop-books-content">
        <p class="text-pop-books underline">Популярные книги по просмотрам</p>
        <div class="cards-popular-books">
          <% popularBooks.forEach(book=> { %>
            <div class="card-pop-books">
              <img src="<%= book.imageUrl %>" alt="">
              <p class="text-pop-card">
                <%= book.title.length> 25 ? book.title.slice(0, 25) + '...' : book.title %>
              </p>
              <a href="/detail-book/<%= book._id %>" class="button-more-details">
                подробнее
              </a>
            </div>
            <% }) %>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="section-list-card">
      <div class="list-card" id="list-card">
        <% allBooks.forEach(book=> { %>
          <div class="card">
            <div class="card-img">
              <img src="<%= book.imageUrl %>" alt="">
            </div>
            <div class="card-content">
              <div class="card-content-text">
                <div class="block-text-title">
                  <p class="text-card-title">
                    <%= book.title %>
                  </p>
                </div>
                <p class="text-card-description">
                  <%= book.description.length> 205 ? book.description.slice(0, 205) + '...' : book.description %>
                </p>
                <div class="block-text-card">
                  <p class="text-card">автор: <%= book.author %>
                  </p>
                  <p class="text-card">жанр: <%= book.genres %>
                  </p>
                  <p class="text-card">издательство: <%= book.publishingHouse %>
                  </p>
                  <p class="text-card">год издания: <%= book.yearOfPublication %>
                  </p>
                  <p class="text-card">язык книги: <%= book.language %>
                  </p>
                  <p class="text-card">количество страниц: <%= book.numberOfBooks %>
                  </p>
                  <p class="text-card"><span>цена: <%= book.price %> BYN</span></p>
                </div>
              </div>
              <div class="card-content-button">
                <a href="/basket/<%= book._id %>" class="button-card">
                  в корзину
                </a>
                <a href="/detail-book/<%= book._id %>" class="button-card">
                  подробнее
                </a>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </section>
  </div>
  <div class="container">
    <section class="section-pagination">
      <div class="pagination">
        <a href="#"><img src="img/arrow-left.svg" alt=""></a>
        <div class="pagination-page">
          <a href="#">
            <p class="text-pagination active">1</p>
          </a>
          <a href="#">
            <p class="text-pagination">2</p>
          </a>
          <a href="#">
            <p class="text-pagination">3</p>
          </a>
          <a href="#">
            <p class="text-pagination">4</p>
          </a>
          <a href="#">
            <p class="text-pagination">5</p>
          </a>
        </div>
        <a href="#"><img src="img/arrow-right.svg" alt=""></a>
      </div>
    </section>
  </div>
</main>