<main>
  <section class="section-login">
    <div class="container">
      <div class="block-login">
        <p class="text-login-title">Изменение пароля</p>
        <% if (errors && errors.global) { %>
          <div class="error-message">
            <p><%= errors.global.msg %></p>
          </div>
        <% } %>
        <div class="block-input">
          <form action="/profile/change-password" method="POST" class="block-input">
            <div class="block-password">
              <input type="password" placeholder="старый пароль" id="oldPassword" class="input-password"
                name="oldPassword" value="<%= formData?.oldPassword || '' %>">
              <button type="button" id="toggleOldPassword">👁️</button>
            </div>
            <% if (errors?.oldPassword) { %>
              <p class="error-message">
                <%= errors.oldPassword.msg %>
              </p>
              <% } %>
                <div class="block-password">
                  <input type="password" placeholder="новый пароль" id="oldPassword" class="input-password"
                    name="newPassword">
                  <button type="button" id="toggleNewPassword">👁️</button>
                </div>
                <% if (errors?.newPassword) { %>
                  <p class="error-message">
                    <%= errors.newPassword.msg %>
                  </p>
                  <% } %>
                    <div class="block-password">
                      <input type="password" placeholder="Повторите пароль" id="againPassword" class="input-password"
                        name="againPassword">
                      <button type="button" id="toggleAgainPassword">👁️</button>
                    </div>
                    <% if (errors?.againPassword) { %>
                      <p class="error-message">
                        <%= errors.againPassword.msg %>
                      </p>
                      <% } %>
                        <input type="submit" class="button-password" value="Сохранить">
          </form>
        </div>
      </div>
    </div>
  </section>
</main>