<main>
  <section class="section-profile">
    <div class="container">
      <div class="profile-title">
        <p class="text-profile-title">Личный кабинет</p>
      </div>

      <div class="block-profile">
        <div class="profile-content">
          <div class="profile-img">
            <img src="<%= user.imageUrl %>" alt="">
            <form action="/profile/photo" method="POST" class="form-upload" enctype="multipart/form-data">
              <div class="file-upload">
                <label class="file-upload-label" for="imageUrl">выбрать фото</label>
                <input type="file" name="imageUrl" id="imageUrl" accept="image/*" required />
              </div>
              <button type="submit" class="button-upload">загрузить</button>
            </form>
          </div>
          <div class="profile-description">
            <div class="block-text-input">
              <p class="text-profile">Фамилия: </p>
              <input id="input-surname" type="text" value="<%= user.surname %>" placeholder="Введите свою фамилию...">
            </div>
            <div class="block-text-input">
              <p class="text-profile">Имя: </p>
              <input id="input-name" type="text" value="<%= user.name %>" placeholder="Введите свое имя...">
            </div>
            <div class="block-text-input">
              <p class="text-profile">Почта: </p>
              <input id="input-mail" type="text" value="<%= user.mail %>" readonly>
            </div>
            <div class="block-text-input">
              <p class="text-profile">Адрес проживания: </p>
              <input id="input-address" type="text" value="<%= user.address %>" placeholder="Введите свой адрес...">
            </div>
          </div>
        </div>
        <div class="profile-order">
          <div class="profile-order-title">
            <p class="text-profile-order-title">Заказы</p>
          </div>
          <div class="profile-list">
            <% if (orders.length !==0) { %>
              <% orders.forEach(order=> { %>
                <div class="profile-item" data-order-id="<%= order._id %>">
                  <p class="text-profile-order">дата: <%= order.formattedDate %>
                  </p>
                  <p class="text-profile-order">количество товаров: <%= order.items.length %>
                  </p>
                  <p class="text-profile-order">стоимость: <%= order.price %> BYN</p>
                  <p class="text-profile-order">статус: <%= order.status %>
                  </p>
                  <button class="open-order-details" data-id="<%= order._id %>"><img src="/img/eye.svg" alt=""></button>
                  <button type="button"
                    class="button-profile-delete<%= order.status !== 'В обработке' ? ' disabled' : '' %>" <% if
                    (order.status !=='В обработке' ) { %> disabled <% } %>>
                      <img src="img/delete.svg" alt="">
                  </button>
                </div>
                <% }) %>
                  <% } else { %>
                    <p class="empty-orders">нет заказов</p>
                    <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>