<main>
  <section class="section-profile">
    <div class="container">
      <div class="profile-title">
        <p class="text-profile-title">Личный кабинет</p>
      </div>

      <div class="block-profile">
        <div class="profile-content">
          <div class="profile-img">
            <img src="<%= user.imageUrl %>" alt="">
            <form action="/profile/photo" method="POST" class="form-upload" enctype="multipart/form-data">
              <div class="file-upload">
                <label class="file-upload-label" for="imageUrl">выбрать фото</label>
                <input type="file" name="imageUrl" id="imageUrl" accept="image/*" required />
              </div>
              <button type="submit" class="button-upload" >загрузить</button>
            </form>
          </div>
          <div class="profile-description">
            <div class="block-text-input">
              <p class="text-profile">Фамилия: </p>
              <input id="input-surname" type="text" value="<%= user.surname %>">
            </div>
            <div class="block-text-input">
              <p class="text-profile">Имя: </p>
              <input id="input-name" type="text" value="<%= user.name %>">
            </div>
            <div class="block-text-input">
              <p class="text-profile">Почта: </p>
              <input id="input-mail" type="text" value="<%= user.mail %>" readonly>
            </div>
            <div class="block-text-input">
              <p class="text-profile">Адрес проживания: </p>
              <input id="input-address" type="text" value="<%= user.address %>">
            </div>
          </div>
        </div>
        <div class="profile-order">
          <div class="profile-order-title">
            <p class="text-profile-order-title">Заказы</p>
          </div>
          <div class="profile-list">
            <div class="profile-item">
              <p class="text-profile-order">дата: 01.01.2020</p>
              <p class="text-profile-order">количество товаров: 2</p>
              <p class="text-profile-order">стоимость: 200 BYN</p>
              <p class="text-profile-order">статус: доставлен</p>
            </div>
            <div class="profile-item">
              <p class="text-profile-order">дата: 01.01.2020</p>
              <p class="text-profile-order">количество товаров: 2</p>
              <p class="text-profile-order">стоимость: 200 BYN</p>
              <p class="text-profile-order">статус: доставлен</p>
            </div>
            <div class="profile-item">
              <p class="text-profile-order">дата: 01.01.2020</p>
              <p class="text-profile-order">количество товаров: 2</p>
              <p class="text-profile-order">стоимость: 200 BYN</p>
              <p class="text-profile-order">статус: доставлен</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>