<main>
  <section class="section-register">
    <div class="container">
      <div class="block-register">
        <p class="text-register-title">Регистрация</p>
        <% if (errors && errors.global) { %>
          <div class="error-message">
            <p><%= errors.global.msg %></p>
          </div>
        <% } %>
        <div class="block-input">
          <form action="/register" method="POST" class="block-input">
            <input type="text" placeholder="почта" class="input-register" name="mail" value="<%= formData?.mail || '' %>">
            <% if (errors?.mail) { %>
              <p class="error-message"><%= errors.mail.msg %></p>
            <% } %>
            <input type="password" placeholder="пароль" class="input-register" name="password">
            <% if (errors?.password) { %>
              <p class="error-message"><%= errors.password.msg %></p>
            <% } %>
            <input type="password" placeholder="повторить пароль" class="input-register" name="secondPassword">
            <% if (errors?.secondPassword) { %>
              <p class="error-message"><%= errors.secondPassword.msg %></p>
            <% } %>
            <input type="submit" class="button-register" value="Зарегистрироваться">
          </form>
        </div>
        <p class="text-register">Есть аккаунт? <span><a href="login">Войдите</a></span></p>
      </div>
    </div>
  </section>
</main>